
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>PRODUCTS</h1>

    {% for product in products%}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="250">
        <h3>{{ product.name }}</h3>
        <p>PRICE : Rs{{ product.price }}</p>
        <a href="{% url 'product_details' product.id %}">VIEW</a>
    {% endfor %}
</body>
</html>
{% endblock %}